<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Order</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2>Вы уверены, что хотите удалить заказ "{{ object.name }}"?</h2>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger mr-2">Да, удалить</button>
            <a href="{% url 'orders:order_detail' order_id=object.pk %}" class="btn btn-secondary">Нет, вернуться</a>
        </form>
    </div>
    <!-- Bootstrap JS (optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
